.PlayOnMusic{
    float: left;
    border-radius: 50px;
    margin-right: 6%;
    
}
.bottom{
    background-color: aquamarine;
    padding: 5%;
    border-radius: 50px;

    
}
.PlayOnMusicName{
    padding-top: 2%;
}
.bottomplay{
    margin-top: 5%;
    bottom: 0;
position: fixed;
text-align: center;
}